.cartContainer .cart{
    color: white;
    font-size: 15px;
}
.cartContainer .count{
    background-color: grey;
    color: white;
    font-weight: bold;
    width: 15px;
    height: 15px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: 5px;
    font-weight: 600;
}

.cartButton{
    border-style: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}