.navBar{
    background-color: rgb(36, 0, 37);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 400px;
}

.navBar ul li {
    list-style: none;
}

.navBar ul li:hover{
    font-weight: 500;
    cursor: pointer;
}

.navBar ul li a, .logo a{
    list-style: none;
    text-decoration: none;
    color: white;
}

.navBar ul li .active{
    font-weight: 700;
}

.navBar .logo {
    margin: 0;
    padding: 10px 30px;
    color: white;
}

